mixin input(pholder)
		.form-group
				input.input.form-control(
						placeholder= pholder
						required
				)
mixin textarea()
		.form-group
				textarea.form-control(
						placeholder="Your message"
						rows=4
						required
				)