ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: $pink;
}

li a {
    display: block;
    color: #3f2738;
    background-color: #d9a2aa;
    text-decoration: none;
    padding: 30%;
    width: 100%;
    height: 20%;
    text-align: left;
    font-size: 1.5em;
	&:hover {
		background-color: $granate;
		color:$rose;
	}
}
.navbar-fixed-left {
	width:12%;
	height: 100%;
  position: fixed;
  margin-left: -1em;
}