#about {
	.resize{
		height: 42em;
	}
	.picture {
		width: 100%;
		transform: rotate(-90deg);
		position: absolute;
		top: 9em;
		left:-3em;
		padding: 10%;
		border: solid 2px $rose;
		margin:2%;
		}

	p {
		padding: 20%;
		line-height: 2.5;
		position: absolute;
   		top: 2em;
	}
	.hojas{
		position: absolute;
		z-index: -1;
   		top: -315px;
   		left: 1em;
    	width: 94%;
	}
}
.pink-bckg{
	background-image: url(../images/uncolor.png);
	background-position-x: 16em;
    background-position-y: 1em;
    background-repeat: no-repeat;
}