#proyectos{
	.proyecto{
		margin:auto;
		 margin: 3%;
    	padding: 7%;

	}
	.p-box{
		width: 20em;
		height: 13em;
		border: solid 1px $granate;
		padding: 4%;
		margin: 2%;
	}
	.d-box{
		margin:1%;
	}
	img{
		width: 100%;
	}
	i{
		margin: 1.5%;
		color: $granate;
	}
}
