h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', cursive; }

span p {
  font-family: 'Josefin Sans', sans-serif; }

a {
  text-decoration: none; }

ul ol {
  list-style-type: none; }

h1 {
  font-size: 4.2em;
  text-align: center;
  color: #3f2738;
  margin-top: 4%;
  margin-bottom: 3%; }

.pd-30 {
  padding: 30%; }

header {
  background-color: #3f2738; }
  header a {
    color: #3f2738;
    font-family: 'Amatic SC', cursive; }
    header a:hover {
      color: #edc8bf;
      background-color: #3f2738;
      padding: 8%;
      font-size: 1em; }
  header .row {
    background-image: url(../images/bordes-01.png);
    margin-top: 2.5em;
    margin-bottom: 3.5em; }
  header img {
    margin: 15%; }
  header .section {
    font-size: 2.5em;
    padding: 3%;
    font-weight: bold; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #423733; }

.brand {
  background-color: #3f2738; }

li a {
  display: block;
  color: #3f2738;
  background-color: #d9a2aa;
  text-decoration: none;
  height: 20%;
  text-align: center;
  font-size: 1.5em; }
  li a:hover {
    background-color: #3f2738;
    color: #d9a2aa; }
  li a img {
    width: 5em;
    height: 5em;
    margin: 14%; }

.navbar-fixed-left {
  width: 15%;
  height: 100%;
  position: fixed;
  margin-left: -15px; }

#about .resize {
  height: 42em; }
#about .picture {
  width: 114%;
  transform: rotate(-90deg);
  position: absolute;
  top: 11em;
  left: -5em;
  padding: 10%;
  border: solid 2px #d9a2aa;
  margin: 2%; }
#about p {
  padding: 20%;
  line-height: 2.5;
  position: absolute;
  font-size: 1.2em; }
#about .hojas {
  position: absolute;
  top: -23em;
  left: 1em;
  width: 100%; }

.pink-bckg {
  background-image: url(../images/uncolor.png);
  background-position-x: 16em;
  background-position-y: 1em;
  background-repeat: no-repeat; }

.bckg-sincorte {
  background-image: url(../images/sin-corte.png); }

#contact {
  padding-bottom: 4%; }
  #contact p {
    font-size: 1.2em; }
  #contact .social {
    width: 9em;
    margin: 14%;
    padding: 8%; }
  #contact .social-box {
    width: 5em;
    height: 5em;
    margin: 14%;
    padding: 24%;
    background-color: #3f2738; }
  #contact i {
    color: #423733;
    font-size: 1.5em; }
  #contact form {
    margin: 5%; }
  #contact img {
    width: 1.5em; }
  #contact .social-descrip {
    width: 8em; }
    #contact .social-descrip p {
      font-size: 0.8em;
      margin: 3%;
      padding: 2%; }

#proyectos .proyecto {
  margin: auto; }
#proyectos .p-box {
  width: 20em;
  height: 13em;
  border: solid 1px #3f2738;
  padding: 4%;
  margin: 2%; }
#proyectos .d-box {
  margin: 1%; }
#proyectos img {
  width: 100%; }

#skills .skill {
  margin: 8%;
  padding: 6%; }
#skills .img-box {
  width: 16em;
  height: 16em;
  background-size: cover;
  background-position: center;
  padding: 2%;
  margin: 2%;
  border: solid 1px #FAEBD7; }
#skills .comunicador {
  background-image: url(../images/comunic_16-01.jpg); }
#skills .socialmedia {
  background-image: url(../images/socialmedia2.png); }
#skills .publicista {
  background-image: url(../images/publicista.jpg); }
#skills .webdeveloper {
  background-image: url(../images/webdeveloper.jpg); }
#skills .creativa {
  background-image: url(../images/creative.jpg); }
#skills .google {
  background-image: url(../images/GoogleApps.png); }

/*# sourceMappingURL=main.css.map */
